<h1 mat-dialog-title>Member Details</h1>
<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="form-grid">
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput formControlName="surname" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Other Names</mat-label>
        <input matInput formControlName="other_names" required>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date_of_birth" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>National ID Number</mat-label>
        <input matInput formControlName="national_id_number" type="number" required>
      </mat-form-field>
    </div>

    <div class="form-row">     
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="fk_gender_id" required>
          <mat-option *ngFor="let gender of genders" [value]="gender.id">
            {{gender.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contact</mat-label>
        <input matInput formControlName="contact" type="number" required>
        <mat-error *ngIf="memberForm.get('contact')?.hasError('pattern')">
          Contact must start with '254' and contain exactly 12 digits
        </mat-error>
      </mat-form-field>
    </div>


    <div class="form-row location-row">
      <mat-form-field appearance="fill">
        <mat-label>County</mat-label>
        <mat-select formControlName="county" required (selectionChange)="onCountyChange($event.value)">
          <mat-option *ngFor="let county of counties" [value]="county.id">
            {{county.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="memberForm.get('county')?.invalid">
          County is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Subcounty</mat-label>
        <mat-select formControlName="subcounty" required (selectionChange)="onSubcountyChange($event.value)">
          <mat-option *ngFor="let subcounty of subcounties" [value]="subcounty.id">
            {{subcounty.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="memberForm.get('subcounty')?.invalid">
          Subcounty is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Ward</mat-label>
        <mat-select formControlName="ward" required>
          <mat-option *ngFor="let ward of wards" [value]="ward.id">
            {{ward.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="memberForm.get('ward')?.invalid">
          Ward is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Member Type</mat-label>
        <mat-select formControlName="fk_member_type_id" required>
          <mat-option *ngFor="let type of memberTypes" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Occupation</mat-label>
        <mat-select formControlName="fk_occupation_id" required>
          <mat-option *ngFor="let occupation of occupations" [value]="occupation.id">
            {{occupation.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-button type="submit">{{ buttonText }}</button>
  </div>
</form>