:host ::ng-deep .mtx-grid {
    height: 480px;
  }
  

  /* Define custom styles for the tag colors */
.tag-paid {
    background-color: green !important;
    color: white !important;
  }
  
  .tag-pending {
    background-color: orange !important;
    color: white !important;
  }
  
  .tag-overdue {
    background-color: red !important;
    color: white !important;
  }
  

  .responsive-dialog .mat-dialog-container {
    padding: 24px;
    overflow: auto;
  }
  
  @media (max-width: 600px) {
    .responsive-dialog .mat-dialog-container {
      padding: 16px;
    }
  }
  
  .responsive-dialog mat-form-field {
    width: 100%;
  }