
<div class="page-container">
<page-header class="bg-cyan-50" />

<div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 10px;">
    <button mat-raised-button color="primary" (click)="openCreateMemberDialog()">
      <mat-icon>person_add</mat-icon> Add Member
    </button>
</div>
    
  
<div class="grid-container">
  <mtx-grid [data]="list"
            [columns]="columns"
            [length]="total"
            [loading]="isLoading"
            [pageOnFront]="false"
            [pageIndex]="query.page"
            [pageSize]="query.per_page"
            [pageSizeOptions]="[5,10,20]" 
            (page)="getNextPage($event)">
  </mtx-grid>
</div>
</div>

  <!-- <page-header class="bg-cyan-50"></page-header>
  
  <div class="action-bar">
    <button mat-raised-button color="primary" (click)="openCreateMemberDialog()">
      <mat-icon>person_add</mat-icon>
      <span class="button-text">Add Member</span>
    </button>
  </div>
  
  <div class="grid-container">
    <mtx-grid [data]="list"
              [columns]="columns"
              [length]="total"
              [loading]="isLoading"
              [pageOnFront]="false"
              [pageIndex]="query.page"
              [pageSize]="query.per_page"
              [pageSizeOptions]="[5,10,20]"
              (page)="getNextPage($event)">
    </mtx-grid>
  </div>
</div> -->